<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orinoco</title>
    <link rel="stylesheet" href="/css/style.css" />

    <%- include('header'); -%>
        <!-- main -->
        <main>
            <h1 class="titre">Caméras vintage</h1>
            <section class="rayon">
                <h2 class="pasla">&#x2800;</h2>
                <% for (let i=0; i < produits.length; i++) { /* for produits */%>
                    <% var prix=(Math.round(produits[i].price) /100).toFixed(2); %>


                <article class="produit">
                    <a href="/<%=produits[i]._id %>">
                        <img class="imgProd" src=" <%=produits[i].imageUrl %>" alt="<%= produits[i].name%>" />
                    </a>
                    <div class="infoProduit">
                        <h3 class="name">Nom : <%= produits[i].name%>
                        </h3>
                        <p class="prix">Prix :
                            <span>
                                        <%= prix %>
                            </span> €
                         </p>

                        <p class="description">
                            <%= produits[i].description %>
                        </p>

                        <a href="/<%=produits[i]._id %>" class="ajoutPanier">
                            plus d'info

                        </a>
                    </div>
                </article>
                <% } %>

                            <!-- fin for -->
            </section>
        </main>
        <script>
            const reducer = (accumulator, currentValue) => accumulator + currentValue;
            const total = document.querySelectorAll("totalPanier");

            var totPanier = () => {
                if (localStorage.getItem("panier")) {

                    let paniers = JSON.parse(localStorage.getItem("panier"));
                    if (paniers.length === 0) {
                        total.innerHTML = "total: " + 0 + " €";
                    } else {
                        let panier = paniers.reduce(reducer);
                        total.innerHTML = "total: " + panier + " €";
                    }
                }
            }
            window.onload = totPanier()
        </script>

        <%- include('footer'); -%>